apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: backend-tests-go-yypwxhxc
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/backend-tests-go-yypwxhxc:e7d1f6c154b3c4e24321ad816b6340016e667eac@sha256:7763772fb64bf6f4ad73e2a6943da39a4881388be72a77c594910253d66d9475
        name: container-image  
